body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: #F9FAF8;
    padding: 0 0 30px 0;
}

.header-title {
    font-size: 24px;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.h-content-top {
    display: flex;
    justify-content: space-between;
}

.h-content-top ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

.h-content-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    height: 250px
}

.h-content-bottom>div {
    flex: 1;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width: 590px;
}

.header-subtext {
    width: 300px;
    padding-right: 150px;
    box-sizing: border-box;
    font-size: 18px;
}

.header-subtext .h1 {
    font-size: 48px;
    font-weight: bold;
}

.sign-up-btn {
    background: #3882F6;
    color: #F9FAF8;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title {
    margin: 40px auto;
    font-size: 36px;
    font-weight: bold;
}

.info-divs {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.info-subtext {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    align-items: center;
}

.info-subtext-text {
    padding: 0 5px;
}

.info-subtext-div {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: lighter;
    background: #E5E7EB;
    margin: 50px 0;
    padding-top: 50px;
}

.quote-text {
    height: 8.5em;
    width: 21em;
}

.quote-quote {
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    font-size: 25px;
    text-align: end;
    padding-right: 20px;
}

.sign-up {
    display: flex;
    justify-content: center;
}

.sign-up-div {
    background: #3882F6;
    height: 150px;
    width: 900px;
    margin: 50px 0;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
}

.sign-up-text .call-to-action {
    font-weight: bold;
    font-size: 28px;
}

.sign-up-text .call-to-action-subtext {
    font-size: 18px;
}

p {
    margin: 0;
}

#btn-bottom {
    border: 2px solid #E5E7EB;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background: #1F2937;
    height: 4em;
    margin-top: 2em;
}